{
	"env": {
		"browser": true,
		"es2017": true,
		"es2020": true,
		"es2021": true,
		"es6": true,
		"jest": true,
		"node": true,
		"serviceworker": false
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"react-hooks"
	],
	"rules": {
		"arrow-spacing": [
			"error",
			{
				"after": true,
				"before": true
			}
		],
		"comma-spacing": [
			"error",
			{
				"after": true,
				"before": false
			}
		],
		"indent": [
			"error",
			"tab"
		],
		"no-unused-vars": 0,
		"react-hooks/exhaustive-deps": "warn",
		"react-hooks/rules-of-hooks": "error",
		"semi": 2
	}
}
