@font-face {
	font-family: 'neuehanskendrick-regular';
	src:url('../public/fonts/neuehanskendrick-regular.woff') format('woff');
	src:url('../public/fonts/neuehanskendrick-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'neuehanskendrick-light';
	src:url('../public/fonts/neuehanskendrick-light.woff') format('woff');
	src:url('../public/fonts/neuehanskendrick-light.woff2') format('woff2');
}

.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	}

.flex-item:nth-child(1) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	}

.flex-item:nth-child(2) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	}
/* palette
neongreen: #10E954
grayblue:#3d5f8f
lightblue:#dff1ff
grayish:#7f91b3 */

body {
	font-family: 'neuehanskendrick-regular';
}

li::marker {
	text-decoration-style: none;
	content:none;
}
header {
	background-color:#dff1ff;
	padding:2%;
}
.main {
	display:inline-block;
}

.button {
padding:5px;
border-radius:3px;
background-color: #3d5f8f;
color:white;

}

.avatar {
	margin-left:10px;
	display: inline-block;
	overflow:hidden;
	line-height: 1;
	vertical-align: middle;
	border-radius: 6px;
position:absolute;
}
.sideBar {
	display: inline-block;
	height: 80vh;
	margin:10px;
	padding:10px;
	border-right:2px solid #7f91b3
}

.gist {
	margin:10px 0;
}

.gistDetail {
	font-family:'neuehanskendrick-light';
	width:65vw;
	padding:5%;
	overflow-wrap: anywhere;
}
